.WelcomeBoard {
  height: 40vh;
  position: relative;
  overflow: hidden;
}

.WelcomeBoardBack {
  position: absolute;
  left: 0;
  top: 0;
  background-attachment: fixed;
  background: url("../../img/welcomeBoard.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: WelcomeBoardBackground 30s linear infinite;
}

@keyframes WelcomeBoardBackground {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.WelcomeBoardHeader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.55);
  height: 50%;
  padding: 1.2rem 1rem;
}

.WelcomeBoardHeaderMessage {
  color: var(--primary-color);
}
.WelcomeBoardHeaderMessage > h1 {
  margin: 0;
  font-size: 2.6rem;
  font-weight: 300;
}
.WelcomeBoardHeaderMessage > h1 > strong {
  font-weight: 600;
}
.WelcomeBoardHeaderMessage > h1 > small {
  font-size: 62.5%;
}
