.TagInputLabel {
  font-size: 1.5rem;
  color: var(--secondary-color);
  animation: example 2s;
}
.TagInput {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}

.TagInputActive {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}

.Tag {
  font-size: 1.2rem;
  background: var(--accent-color);
  color: var(--primary-color);
}

.TagRemoveIcon {
  cursor: pointer;
}

.TagInputField {
    border: none;
    width: 100%;
    padding: 0 .5rem;
}

@keyframes example {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

.TagInputField::placeholder {
  color: var(--secondary-color);
  opacity: 0.5;
}

.TagInputField:focus {
    box-shadow: none;
    outline: none;
}
