.Button {
  background: #575996;
  color: #e3f2fd;
  font-size: 1.3rem;
  box-shadow: 0 0.5rem 1rem rgba(87, 89, 150, 0.15);
}

.Button:hover {
  box-shadow: 0 0.5rem 1rem #e3f2fd;
  background: var(--secondary-color);
  opacity: 0.8;
  color: var(--primary-color);
}
